<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Blog | Benevolent Senior Services</title>
  <link rel="stylesheet" href="/src/styles/main.css">
</head>
<body>
  <header>
    <nav>
      <a href="/"><img src="/logo.png" alt="Benevolent Senior Services"></a>
      <ul>
        <li><a href="/#home">Home</a></li>
        <li><a href="/#serve">Who We Serve</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#team">Our Team</a></li>
        <li><a href="/#care">Care Options</a></li>
        <li><a href="/#faq">FAQ</a></li>
        <li><a href="/blog">Our Blog</a></li>
      </ul>
      <div>
        <span>833-686-4440</span>
        <a href="/#contact">CONTACT US</a>
      </div>
    </nav>
  </header>

  <main>
    <h1>Our Blog</h1>
    <div class="blog-list">
      {{articles}}
    </div>
  </main>

  <footer>
    <nav>
      <a href="/#home">Home</a>
      <a href="/#serve">Who We Serve</a>
      <a href="/#services">Services</a>
      <a href="/#team">Our Team</a>
      <a href="/#care">Care Options</a>
      <a href="/#faq">FAQ</a>
      <a href="/#contact">Contact Us</a>
      <a href="/blog">Our Blog</a>
    </nav>
    <div class="social">
      <a href="https://www.facebook.com/benevolentss">Facebook</a>
      <a href="https://instagram.com/benevolentseni2">Instagram</a>
      <a href="http://twitter.com/benevolentseni2">Twitter</a>
    </div>
    <p>&copy; 2021 Benevolent Senior Services, Inc. All rights reserved.</p>
  </footer>
</body>
</html>
